# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
/lib/
/include/
*.bin
*.elf
*.hex

# VS Code
.vscode/
!.vscode/extensions.json
.history/
*.log

# Python (Backend)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Project Specific (Audio/Data)
backend/recordings/
*.wav
*.mp3

backend/Summarization/fine_tuned/
*.pt
*.pth